:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
}

h1 {
	text-align: center;
}

.score-area {
	display: flex;
	justify-content: space-around;
	/* background: red; */
}

.score-area p {
	font-size: 3rem;
}

.update-score {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background: yellow; */
}

.update-score .team-name {
	display: flex;
	flex-direction: row;
	/* background: blue; */
}

.update-score section {
	margin: 1rem;
}
